.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.category__title {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
}

.card {
    display: flex;
    border: 1px solid grey;
    border-radius: 0 20px 20px 0;
    margin-top: 20px;
    width: 80%;
    height: 205px;

    &__img {
        z-index: 0;

        &-count {
            height: 20px;
            width: 30px;
            position: absolute;
            z-index: 1;
            height: 205px;
            width: 363px;
            font-size: 72px;
            color: #FFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__content {
        margin-left: 20px;

        &-title {
            font-weight: 700;
            margin-top: 15px;
        }

        &-description {
            margin-top: 15px;
            font-size: 14px;
        }

        &-weight {
            margin-top: 10px;
        }

        &-price {
            margin-top: 10px;
            font-size: 20px;

            img {
                margin-bottom: -5px;
                margin-left: -10px;
            }
        }

        &-count {
            margin-top: 15px;
            display: flex;
            width: 150px;
            justify-content: space-between;

            button {
                border-radius: 50%;
                background-color: #ffff;
                border: 1px solid grey;
                height: 30px;
                width: 30px;
                font-size: 18px;
                margin-top: 5px;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 414px) {
    .card {
        display: grid;
        border-radius: 0 0 20px 20px;
        margin-left: 10px;
        width: 95%;
        height: 480px;

        &__img {

            img {
                width: 100%;
            }

            &-count {
                width: 100%;
                display: block;
                margin-left: 40%;
                margin-top: 10%;
            }
        }

        &__content {
            margin-left: 0px;
            text-align: center;

            &-title {
                font-size: 20px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &-description {
                font-size: 16px;
                padding-left: 5px;
                padding-right: 5px;
            }

            &-price {
                margin-left: 5px;
            }

            &-count {
                width: 100%;
                justify-content: center;
            }
        }
    }
}