.block {
    border: 2px solid green;
}

.block2 {
    border: 2px solid green;
    width: 300px;
}

.body {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
}

// .content {
//     display: flex;
// }